body{
    background-color: black;
    color: white;
    margin-bottom: 100px;
}

header{
    font-size:25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom:solid 3px red ; 
    margin: 20px;
    padding: 20px;
    color: red;
}

.chamada{
    background-color: rgb(105, 0, 31) ;
    padding-bottom:80px; 
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamando-txt{
    margin-right: 3%;
    font-family: "Chakra Petch", sans-serif;
}

.categoria-videos{
    display: flex;
    overflow-x:auto ;
    gap: 10px;
}

.videos{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;

}

.categoria-videos img{
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover{
    opacity: 1.0;
    border: 1px solid green;
}

.videos h2{
    color: red;
}

footer{
    margin-top: 100px;
    text-align: end;
}

.subvideo img{
    opacity: 0.5;
    height: 200px;
}

.videos2 img:hover{
    opacity: 1.0;
    border: 1px solid green;
}

.subvideo{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.subvideo h2{
    color: red;
}

.videos2{
    display: flex;
    overflow-x:auto ;
    gap: 10px;
}
 
iframe{
    width: 300px;
    }



@media screen and (max-width:1029.33px){
    

    header{
        padding-left: 3px;

    }

    .chamando-txt h1  {
        font-size: 17px;
        text-align: center;
        

         
    }

    .videoPrinci{
           display: flex;
        justify-content: center;
   }

   .videoPrinci iframe{

    max-width: 100%;
        height: auto;
        width: 300px;
        padding-right: 10px;
   }

    .subvideo  img{
        height: 100px;
    }

   .videos img{
    height: 100px;
   }

    
}